Options -Indexes

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico

  RewriteRule ^(.*)(\.)(.*)$ index.php?url=$1.$3 [L,QSA]
  RewriteRule ^ajax$ _res/ajax.php [QSA]
  RewriteRule ^articles/([^/]+) articles.php?id=$1 [NC]
</IfModule>

# Everything below this line is written by JiaJian.
# verify emails
RewriteRule ^verify_email(|/)$ verify_email.php
RewriteRule ^verify(|/)$ verify.php
RewriteRule ^verify/([^/]+) verify.php?go&code=$1 [NC]
RewriteRule ^verify/q=([^/]+) verify.php?go&code=$1 [NC]

# quick register
RewriteRule ^quick(|/)$ quickregister.php

# SBS Bus API
RewriteRule ^bus(|/)$ _php/bus.php
RewriteRule ^bus/([^/]+)/([^/]+) _php/bus.php?stop=$1&svc=$2 [NC]

# rss.xml rewrite
#RewriteRule ^latest_news.xml(|/)$ _res/latest_news.rss.php

# Ordering
Order Deny,Allow
#Allow from all
#Allow from 218.186
#Allow from 116